
.home_wrapper {
    width: 100%;
    height: 100vh;
    background-image: url('../images/b1.jpg');
    background-size: cover;
    /* filter: grayscale(0.2); */
}

.home_wrapper .content {
    text-align: center;
    padding-top: 200px;
}

.changecontent::after {
    content: "";
    color: var(--primary-color);
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
}

@keyframes changetext {
    0% {
        content: "Canada";
    }

    10% {
        content: "America";
    }

    20% {
        content: "Russia";
    }

    30% {
        content: "Japan";
    }

    40% {
        content: "Africa";
    }

    50% {
        content: "France";
    }

    60% {
        content: "America";
    }

    70% {
        content: "India";
    }

    80% {
        content: "Japan";
    }

    90% {
        content: "Africa";
    }

    100% {
        content: "France";
    }
}

.search-wrapper .search-ingine input {
    width: 90%;
    padding: 5px;
    background: transparent;
    border: 1px solid var(--primary-color);
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: var(--bg-white);
}

.search-ingine input::placeholder {
    color: var(--primary-color);
    font-weight: 500;
}

.place img {
    height: 70px;
}

.place img:hover {
    cursor: pointer;
}