@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Background color */
    --primary-color: #24565C;
    --secondary-color: #69d6c0;
    --white-color: #ffffff;
    --gray-color: #c6c9d8bf;
    --gradient-color: linear-gradient(-244deg, var(--primary-color), 0, #a7ff33 80%, #7cdd68 50.19%);
    /* text color */
    --primary-font: "Playfair Display", serif;
    --secondary-font: "Lora", serif;
    --primary-text: #24565C;
    --text-gray: #c6c9d8bf;
    --text-white: #fff;
    --gradient-text: linear-gradient(90deg, #26838d 20.69%, #DDBF68 50.19%, var(--primary-color) 98.0%);

}
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--secondary-font);
    background-color: var(--bg-white);
    margin:0;
    padding: 0;
    padding-top:55px;
}

/* 1.custom css */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--bg-dark-blue);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

.main-btn {
    display: inline-block;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    padding: 2px 27px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.main-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-white);
}

.subtitle {
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 12px;
    background: var(--gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 54px;
    line-height: 68px;
    font-weight: 800;
    color: var(--gradient-text);
    margin-bottom: 20px;
}

h2 {
    font-size: 50px;
    line-height: 1.3;
    font-weight: 600;
    color: var(--gradient-color);
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-white);
    margin-bottom: 19px;
}

h6 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    color: var(--text-gray);
    margin-bottom: 20px;
}


/* footer */
footer {
    position: relative;
    width: 100%;
    background-color: var(--primary-color);
    min-height: 100px;
    min-height: auto;
}

footer ul li,
a {
    color: black;
    text-decoration: none;
}

.footer-img {
    mix-blend-mode: color-burn;
}

.footer p {
    font-size: 5px;
}

footer .social-icon li a {
    width: 35px;
    height: 35px;
    line-height: 32px;
    font-size: 25px;
    display: inline-block;
    color: var(--white-color);
    opacity: 0.6;
    text-align: center;
    border-radius: 100%;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-right: 10px;
}

footer .social-icon li a:hover{
    transform: scale(1.1);
    opacity: 1;
}